<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.bzl.mapper.sys.menu.IMenuMapper">
    <resultMap id="BaseResultMap" type="org.com.bzl.entity.sys.menu.Menu">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="menu_id" jdbcType="INTEGER" property="menuParentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_chained_address" jdbcType="VARCHAR" property="menuChainedAddress"/>
        <result column="menu_is_show" jdbcType="INTEGER" property="menuIsShow"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="menu_rank" jdbcType="INTEGER" property="menuRank"/>
        <result column="menu_create_time" jdbcType="VARCHAR" property="menuCreateTime"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM t_menu where  1=1
        <if test="menuName != null and menuName !=''">
            and menu_name = #{menuName}
        </if>
        ORDER BY menu_id DESC
    </select>

    <select id="findMenuByNameAndId" resultMap="BaseResultMap">
        select * from t_menu where menu_name = #{menuName}
        <if test="menuId != null and menuId !=''">
            and menu_id !=#{menuId}
        </if> LIMIT 1
    </select>
</mapper>